.LandingPageContainer::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 190, 181, 0.6); /* Change the color and opacity as needed */
  }

.LandingPageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 30rem;
    background: url(placeholder.png) no-repeat center fixed;
    background-size: cover;
    
}

.LandingPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}