.LandingPageContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa9786;
}

.LandingPageWrapper {
  position: relative;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
  overflow: hidden;
}

.btnArrow {
  font-size: 1.5rem;
  margin-left: 1rem;
  transition: all 0.5s ease-in-out;
}

.MarqueeContainer {
  display: flex;
  justify-content: center;
  width: 25rem;
}

.LPSection {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.LPSectionBorder {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 5rem;
  background-color: #d47f70;
  gap: 3rem;
  margin: 6rem 0rem;
}

.LPInner {
  height: 100vh;
  min-height: 50rem;
}

.LPInner:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  margin-right: 5rem;
}

.LPInner:nth-child(2) {
  display: flex;
  flex-direction: row;
  position: relative;
}

.rfm-marquee-container {
  overflow-x: visible !important;
}

.marqueeImg {
  margin: 0rem 5rem;
  border-radius: 0.5rem;
  border: 5px solid white;
}

.LPSectionBorder * {
  color: white;
}

table {
  font-family: "LondrinaSolid";
  border-collapse: collapse;
  display: block;
  overflow: auto;
  width: 100%;
}

tbody {
  width: 25%;
}

th {
  text-align: left;
  font-size: 2rem;
  padding-bottom: 3rem;
  width: 10%;
}

td {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  width: 10%;
}

@media screen and (max-width: 1000px) {
  .LPSection {
    flex-direction: column;
  }

  .LPSectionBorder {
    border-radius: .5rem;
    padding: 1.5rem;
  }

  .LPInner {
    height: unset;
    min-height: unset;
  }

  .LPInner:first-child {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    z-index: 10;
    height: 25rem;
    margin-right: 0rem;
    padding-top: 7rem;
  }

  .LPInner:nth-child(2) {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 30rem;
  }

  .rfm-marquee {
    height: unset !important;
  }

  .rfm-marquee-container {
    height: unset !important;
    overflow-x: visible !important;
  }

  .marqueeImg {
    width: 20rem;
    margin: 0rem 1rem;
    border-radius: 0.5rem;
    border: 5px solid white;
  }

  th {
    font-size: 1.75rem;
    padding-right: 1rem;
  }

  td {
    font-size: 1.25rem;
    padding-bottom: 2rem;
  }
}
