@font-face {
  font-family: "Mitchel";
  src: url("../public/fonts/Mitchel.otf");
}

.title {
  /* font-family: "Mitchel"; */
  font-size: 8rem;
  font-weight: 600;
  animation: appear 2s;
  animation-fill-mode: forwards;
}

.btn {
  border: 2px solid #f2e4e2;
  padding: 1rem 1.5rem;
  width: fit-content;
  cursor: pointer;
  background-color: #ebb6ad;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  color: white;
  animation: appear 2s;
  animation-fill-mode: forwards;
}

.btn:hover {
  background-color: #e7cfcb;
  border: 2px solid #ebb6ad;
  color: #ebb6ad;
  font-weight: bold;
}

@keyframes appear {
  0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(2);
      filter: blur(100px)
  }
  100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1);
      filter: blur(0px)
  }
}
