@font-face {
  font-family: "LondrinaSolid";
  src: url("../public/fonts/LondrinaSolid.otf");
}

.title {
  font-family: "LondrinaSolid";
  font-size: 7rem;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}

.header {
  font-family: "LondrinaSolid";
  font-size: 3rem;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.sub1 {
  font-family: "LondrinaSolid";
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.sub2 {
  font-family: "LondrinaSolid";
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}

.btn {
  font-family: "LondrinaSolid";
  font-size: 2rem;
  padding: 1rem 1.5rem;
  width: fit-content;
  cursor: pointer;
  background-color: #ebb6ad;
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
  color: white;
  white-space: nowrap;
}

.btn:hover .btnArrow {
  transform: translate(0.5rem);
}

.btn:hover {
  box-shadow: inset 22rem 0 0 0 #D47F70;
}

.tableBtn {
  font-family: "LondrinaSolid";
  font-size: 1.5rem;
  padding: .75rem 1.5rem;
  width: fit-content;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
  color: #FA9786 !important;
  white-space: nowrap;
}

.tableBtn:hover {
  box-shadow: inset 22rem 0 0 0 #7b453b;
}

@keyframes appear {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 6rem;
    font-weight: 600;
  }
  
  .header {
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  .btn {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }

  .tableBtn {
    font-size: 1.25rem;
    padding: .5rem 1.25rem;
  }

  .sub1 {
    font-size: 1.75rem;
  }
  
  .sub2 {
    font-size: 1.25rem;
  }
  
}