.GlobalContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  min-height: 30rem;
  background: rgb(231, 212, 208);
  background: linear-gradient(
    90deg,
    rgba(231, 212, 208, 1) 0%,
    rgba(250, 250, 250, 1) 70%,
    rgba(231, 212, 208, 1) 100%
  );
}

.GlobalWrapper {
  position: relative;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10rem 1.5rem;
  gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .GlobalWrapper {
    position: relative;
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 8rem 1.5rem;
    gap: 3rem;
  }
}
